
html, body{
    margin:0;
    padding:0;
    height:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    margin:0;
    padding:0;
}

.body-container-header{
    color:#eee;
    text-align: right;
    padding: 10px 10%;
    background-color: rgb(6, 0, 10);
    height:10%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "navLeft navRight";
}
.body-container-main{
    color:#eee;
    height:100%;
}
.body-container-footer{

  color:#eee;
  background: rgb(6, 0, 10);
  text-align: center;
  padding: 20px 20px;
  position: relative;
  bottom:0;
  height:10%;

}
.footer{
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  flex-wrap: wrap;
}
.footer a:hover{
  color: rgb(122, 85, 192);
  transition: .4s;
}
.footer-btn{
  display: flex;
  margin-top: 5%;
    background-color: rgb(122, 85, 192);
    color: white;
    width: 50%;
    padding: 2% 2%;
    border-radius: 10px;
    transition: .4s;
    min-width: 70px;
}
.footer-btn:hover{
  color: rgb(122, 85, 192);
  background-color: rgb(255, 255, 255);

}
.header-left{
    grid-area: navLeft;
    align-self: center;
}

.header-right{
    grid-area: navRight;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.logo {
    width: 40px;
    float: left;
    margin-right: 10px;
}
.logoName{
    font-family: "Allenoire";
    font-size: large;
    float: left;
    line-height: 2.5;
}
.logoName-lk{
  color:white;
  font-size:30px;
  font-weight:bold;
  font-family: "Allenoire";
  float: left;
  line-height: 2.5;
}
.upperWord{
    color:#744d9f;
}
.button-registr{
    float:right;
}
.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.navigation li {
    display: inline-block;
    
      vertical-align: top;
  
}

.navigation a {
    color:#fff;
    padding: 0.75em;
    text-decoration: none;
    line-height: 2.5;
    transition: .4s;
}
.navigation a:hover {

    color: rgb(122, 85, 192)
}
@media screen and (max-width: 600px) {
  .header-right{
    justify-content: center;
}
  .registr{
    margin-top: 5px;
  }
  
}
.registr, .admin-btn{
    color:white;
    padding: 7px 20px;
    border-radius: 10px;
    border:0px solid;
    cursor: pointer;
    font-weight: bold;
    transition: .4s;
}
.registr{
  background-color: rgb(122, 85, 192);
  margin-left: 1rem;
}
.registr:hover{
    background-color: white;
    color:rgb(122, 85, 192);
    cursor: pointer;
}
.admin-btn{
  background-color: #5e7ace;
}
.admin-btn:hover{
  background-color: rgb(122, 85, 192);
  color:rgb(255, 255, 255);
  cursor: pointer;
}
.sectionTitle{
    background: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:650px;
    background-position: center center;
    box-shadow: inset 0 0 0 1000px rgba(3, 0, 7, 0.685);
    padding-bottom: 2em;
  padding-top: 4.125em;
}
.sectionTitle-title{
    color:white;
    text-align: center;
    position: relative;
    top: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    
}
.section1{
  
  width:100%;
  height:70%;
  position: relative;
}
.section1-div{
  padding-top: 4.125em;
  padding-bottom: 2em;
  color:black;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}
.section1-content{
  display: flex;
  flex-direction: column;
  width:40%;
  
}
.section1-title h2{
  font-size: 50px;
  margin: 0;
  line-height: 1.5;
}
.section1-descr{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.section1-btn{
  display: flex;
  margin-top: 5%;
    background-color: black;
    color: white;
    width: 70%;
    padding: 2% 2%;
    border-radius: 10px;
    transition: .4s;
    min-width: 120px;
}
.section1-btn:hover{
    background-color: rgb(122, 85, 192);
    color: black;
    cursor: pointer;
}
.section1-images{
  width:50%;
}
.section1-images img{
  width:100%;
}
.section2{
  background: url("/public/images/ss.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
    background-position: center center;
    box-shadow: inset 0 0 0 1000px rgba(3, 0, 7, 0.788);
    padding-bottom: 2em;
  padding-top: 4.125em;
}
.section2-div{
  color:white;
  
}
.section2-content{
  display: grid;
  padding-left: 10%;
}
.section2-title h2{
  font-size: 50px;
  margin: 0;
  line-height: 1.4;
}
.section2-descr{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  max-width: 40%;
}
.container_slider_css{
  margin:50px auto;
  width:500px;
  height:300px;
  overflow:hidden;
  position:relative;
}
.photo_slider_css{position:absolute;animation:round 16s infinite;opacity:0;width:100%}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:12s}
img:nth-child(2){animation-delay:8s}
img:nth-child(3){animation-delay:4s}
img:nth-child(4){animation-delay:0}
@media(min-width:0px) and (max-width:320px) {
.container_slider_css{width:80%;height:190px}
}
@media(min-width:321px) and (max-width:480px) {
.container_slider_css{width:80%;height:190px}
}
.section3{
  width:100%;
  height:70%;
  padding-bottom: 2em;
  padding-top: 4.125em;
  padding-left: 5%;
  padding-right: 5%;
}
.section3-div{
  display: flex;
  justify-content: space-between;
  color:black;
  flex-wrap: wrap;

}
.section3-block{
  text-align: center;
  width: 22.75em;
}
.section3-img{
  margin-bottom: 2.75em;
  width: 11.625em;
}
.feature-title{
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.feature-text{
  font-size: 1em;
  line-height: 1.5;
}

.bg{
    overflow-y: auto;
    background: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    background-position: center center;
    box-shadow: inset 0 0 0 1000px rgba(3, 0, 7, 0.685);
    display: flex;
    justify-content: space-between;
}
.subtasks-bg{
  justify-content: center;
}
.modal,.modal-upd,.modalSubtask,.modalSubtask-upd,.modalComment{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;

    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content-subtask,.modal-content,.modal-content-comment {
  position: relative;
    background-color: #d8cce4;
    margin: auto;
    padding: 10px;
    border: 5px solid #33343a;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    
}
@media (max-width:650px){
  .modal-content-subtask,.modal-content,.modal-content-comment {
      width: 100%;
}
}
@media (max-width:800px) and (min-width:651px){
  .modal-content-subtask,.modal-content,.modal-content-comment {
      width: 70%;
}
}
#mess{
  color:white;
}
.dash-subtask{
  cursor: pointer;
    position: relative;
    background: rgb(214, 214, 214);
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*float:right;*/
    right: 0;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding-left:30px;
    border:1px solid rgb(19, 5, 54);
    border-radius: 10px;
    display: flex;
    border-top: 0px;
    justify-content: space-between;
    flex-wrap:wrap;


}
.dash-subtask:hover{
    background: #bbbbbb;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
#myULTask {
    margin: 0;
    padding: 0;
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center center;
    box-shadow: inset 0 0 0 1000px rgb(3 0 7 / 69%);
  }

  /* Стиль элементов списка */
  #myULTask .litask {
    cursor: pointer;
    position: relative;
    padding-left:30px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    margin-top: 15px;
     /*сделайте элементы списка невыбираемыми */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border:1px solid rgb(19, 5, 54);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
  }

  /* Более темный фон-цвет при наведении */
  #myULTask .litask:hover {
    background: #ddd;
  }

  /* При нажатии на кнопку, добавить цвет фона и вычеркнуть текст */
  #myULTask .litask.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }

  /* Добавить "checked" отметить при нажатии на кнопку */
  #myULTask .litask.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  #myULTask h2{
    color:white;
    padding:10px;
  }
.task-flex-start{
  display: grid;
  grid-template-areas: "ok name"
  "status .";
  line-height: 25px;
    align-self: center;
    grid-template-columns: 70px auto;
    width: 30em;
}
.task-flex-end{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.name-task{
  max-width: 80%;
    min-width: 10%;
    word-wrap: break-word;
}
  /* Стиль кнопки "Закрыть" */
  .close {
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
      height: 69px;
  }
  .update{

      border-radius: 10px;
      height: 69px;
      width: 41px;
  }
    .update:hover {
        background-color: rgb(122, 85, 192);
    }

  .close:hover {
    background-color: #f44336;
    color: white;
  }
  .container-board,.container-gant {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      height: 500px;
  }
  .container-gant{
    width:95%;
  }
  .block-board{
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #cccccc;
    width: 350px;
    min-height: 500px;
    margin-right: 15px;
    border-radius: 10px;
  }
  @media (max-width:420px){
    .block-board{
      width:100%;
    }
  }
  .column3{
    margin-right: 0;
  }

  .list-group {
    min-height: 100px;
    height: 100%;
    padding:5px 20px 40px 20px;
  }
  .list-group li{
    list-style: none;
    margin:15px 0 5px 0;
    cursor: pointer;
    background-color: rgba(122, 85, 192, 0.842);
    color:rgb(255, 255, 255);
    padding: 10px 30px;
    border-radius: 10px;
    border:0px solid;
    word-break: break-all;
    min-height:40px;

  }
  .column2 li {
    background-color: rgba(46, 34, 109, 0.781);
  }
  .column3 li{
    background-color: rgba(30, 41, 65, 0.897);
  }
#formTask{
  display: inline;

}

.table {
	display: table;
	width: 100%;
	box-sizing: border-box;
	border-collapse: collapse;
	empty-cells: show;
    margin-top:30px;
}
.table-caption {
	display: table-caption;
	padding: 10px;
	color: #333;
	font-size: 16px;
	text-align: center;
}
.table-colgroup {
	display: table-column-group;
}
.table-col {
	display: table-column;
}
.table-thead {
	display: table-header-group;
}
.table-tbody {
	display: table-row-group;
}
.table-tfoot {
	display: table-footer-group;
}
.table-tr {
	display: table-row;
}
.table-tr:nth-child(odd) {
  background: #ebf3f9;
}
.table-tr:nth-child(even) {
  background: #dae1e6;
}
.table-th {
	display: table-cell;
	border: 1px solid rgb(59, 59, 59);
	font-weight: bold;
	text-align: left;
  box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
  background: linear-gradient(#7f9cf5, rgb(17 24 39));
  color: white;
  padding: 10px 15px;
}
.table-td {
	display: table-cell;
	padding: 10px;
	border: 1px solid rgba(79, 88, 170, 0.801);
}

.fa-del{
  color:red;
}
.fa-del:hover{
  border-bottom: 1px solid #ff0000;
}
.fa-pencil{
  color:rgb(0, 26, 255);
}
.fa-pencil:hover{
  border-bottom: 1px solid rgb(0, 26, 255);
}
.fa-eye{
  color:rgb(30, 129, 21);
}
.fa-eye:hover{
  border-bottom: 1px solid rgb(30, 129, 21);
}
.adminFormAddTask{
  width:50%;
  margin:0 auto;
}

#calendar2 {
    width: 100%;
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    border-collapse: collapse;
}
#calendar2 thead tr:last-child {
    font-size: small;
    color: rgb(255, 255, 255);
}
#calendar2 thead tr:nth-child(1){
    font-size: 23px;
}
#calendar2 thead tr:nth-child(1) td{
    padding-bottom: 30px;
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
    color: rgb(122, 85, 192);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1), #calendar2 thead tr:nth-child(1) td:nth-child(3){
    font-size: 40px;
    color: rgb(122, 85, 192);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}
#calendar2 tbody{
  background-color: rgba(0, 0, 0, 0.555);
  color:white;
}
#calendar2 tbody td {
    color: rgb(255, 255, 255);
    padding: 20px 10px;
    border: 1px solid #c4c2c2;
    cursor: pointer;
    transition: .5s;
    width: 10vw;
}
#calendar2 tbody td:hover {
    background-color: rgb(122, 85, 192);
    transition: .5s;
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
    color: rgb(231, 140, 92);
}
#calendar2 tbody td.today {
    background: rgb(122, 85, 192);
    color: #fff;
    transition: .5s;
}
#calendar2 tbody td.today:hover {
    background-color: rgb(107, 69, 177);
    transition: .5s;
}
.spanDay {
    float: right;
}
.calendar_task{
    float: left;
    color: #ffffffa1;
}
.calendar_task:hover{
    color: #ffffff;
}
.today.calendar_task:hover{
    color: #e5cdff;
}
.modal_task_calendar{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
}
.modal_task_content{
  max-width: 30%;
  min-height: 10vh;
  border: 1px solid #696868;
  border-radius: 5px;
  background-color: white;
  position: relative;
  padding: 5px;
  top:55%;
  left:35%;
}
.error{
    font-size: 14px;
    color: #ff0000;
}
.modal-content-task{
    padding: 5px;
    background-color: #d5cdde;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
    cursor: pointer;
    word-break: break-all;
}

.executor_block{
    position: relative;
}
.executor_block ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #8e849a;
    box-shadow: 0px 0px 3px 1px #654e81;
    z-index: 100;
}
.executor_block ul li:hover{
    background-color: #d3c7de;
    transition: all 0.5s ease;
}
.executor_block ul li{
    padding: 5px;
    transition: all 0.5s ease;
}
.remove_execut{
    cursor: pointer;
    border: none;
    background-color: inherit;
    position: absolute;
    top: 0;
    right: -20px;
    font-size: 25px;
}
.modal-content select{
    width: 100%;
}
.tags_li{
   
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    width:120px;
    text-align: center;
    align-self: center;
    height: fit-content;
}

.filtr a{
    cursor: pointer;
}

.filtr a:hover{
    text-shadow: rgb(122, 85, 192);
  color:rgb(122, 85, 192);
}
.filtr{
    position: relative;
    color: white;
    padding-top: 5px;
    right:0;
}
.addTask{
  height: 40px;
  max-height: 65px;
}

.tooltip_subtask{
    position: absolute;
    bottom: 40%;
    left: 50%;
    min-width: 20%;
    min-height: 30px;
    max-width: 40%;
    max-height: 140%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: 0.2s ease-in-out;
    word-wrap: break-word;
    color: black;
    overflow-y: scroll;

}
.tooltip_subtask p {
    font-size: 13px;
}
.task-board{
    position: relative;
}
@media (max-width: 570px) {
  .addTask{
    height: 60px;
  }
}
.subtask-title{
  color:white;
  font-size: 20px;
}
.litask-subtask{
  padding:15px;
  align-items: center;
}